@import './utils/fonts';

.data {
  &__title {
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 57px;
    // font-weight: 300;
    line-height: 74.1px;
    text-align: left;
    text-transform: uppercase;
    color: #040603;


  }

  &__time {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 44px;
    // font-weight: 500;
    line-height: 57.2px;
    text-align: left;
    margin-bottom: 17px;
  }
}