@import './utils/fonts';
@import './utils/mixins';

.footer {
  @include onPhone {
    margin-top: 15px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;

    @include onPhone {
      flex-direction: column;
      order: 2;
    }
  }

  &__logo {
    height: 74px;
    width: 100%;
    background: url(../icons/Logo_footer.svg) no-repeat;
    background-size: contain;

    @include onPhone {
      height: 44px;
      margin-bottom: 21px;

    }
  }

  &__list {
    display: flex;
    list-style: none;

    @include onPhone {
      justify-content: space-between;
    }
  }

  &__item {
    margin-right: 74px;

    @include onPhone {
      margin-right: 0;
    }

    &--img {
      height: 74px;
      width: 74px;
      transition: background 0.3s;


      &-fb {
        background-image: url(../icons/facebook-fill.png);
        background-size: contain;

        &:hover {
          background-image: url(../icons/fb-hover.png);
        }
      }
      &-inst {
        background-image: url(../icons/instagram-fill.png);
        background-size: contain;

        &:hover {
          background-image: url(../icons/inst-hover.png);
        }
      }
      &-youtube {
        background-image: url(../icons/youtube-fill.png);
        background-size: contain;

        &:hover {
          background-image: url(../icons/youtube-hover.png);
        }
      }

    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__email {
    margin-bottom: 47px;

    @include onPhone {
      margin-bottom: 25px;
      order: 1;
    }

    &--link {
      font-family: 'Montserrat-Bold';
      font-size: 15px;
      font-weight: bold;
      line-height: 19.5px;
      text-align: left;
      color: #040603;
      text-transform: uppercase;
    }

  }
}