@import './utils/fonts';

.manifest {
  &__waiting {
    position: relative;
    display: flex;
    gap: 31px;
    flex-direction: column;
    height: 546px;
    align-items: center;
    justify-content: center;

    font-family: "Montserat", sans-serif;

    &--text {
      font-family: 'Montserrat-Bold', sans-serif;
      font-size: 32px;
      font-weight: 700;
      line-height: 37.5px;
      text-align: left;

    }

    &--timer {
      font-family: 'Montserrat-Bold', sans-serif;
      font-size: 100px;
      font-weight: 700;
      line-height: 117.19px;
      text-align: left;

    }
  } 

  &__words {
    position: absolute;
    top: 0;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 41.6px;
    text-align: left;
    color: #FFFFFF

  }

  &__word {
    position: absolute;
    top: 0;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 41.6px;
    text-align: left;
    color: #FFFFFF;
    opacity: 0;
    animation: fadeInOutMove 5s ease-in-out infinite; 
  }

  &__word-delay {
    font-family: 'Montserrat-Medium', sans-serif;
    color: white;
    font-size: 32px;
    font-weight: 500;
    line-height: 41px;
    opacity: 0;
    animation: fadeInOutMove 5s ease-in-out infinite;
    animation-delay: 3s;
  }
  
}

@keyframes fadeInOutMove {
  0% {
    opacity: 0;
    transform: translateY(20);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid white;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: white transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

