@import './utils/fonts';
@import './utils/mixins';

.nav {
  border-top: 2px solid #040603;
  border-bottom: 2px solid #040603;

  &--bigScreen {
    display: block;

    @include onPhone {
      display: none;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__item {
    border-left: 2px solid #040603;
    padding: 22px 0 17px;
    cursor: pointer;

    &:last-child {
      border-right: 2px solid #040603;
    }
  }
  &__link {
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    color: #040603;
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 500;
    padding: 22px 35px 17px;
    transition: text-decoration 0.3;

    &:hover {
      text-decoration: underline;
    }

  }

  &__button {
    border-left: 2px solid #040603;
    border-right: 2px solid #040603;
    padding: 22px 35px 17px;
    background-color: #040603;
    color: #DBDBD7;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      text-decoration: underline;
      background-color: #6522BC;
    }

  }
}

.menu-for-smallScreen {
  display: none;

  @include onPhone {
    display: block;

  }

}

.burger-menu {
  display: none;

  @include onPhone {
    display: block;

  }

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;

  background: linear-gradient(90deg, #FBBD0A 0%, #F9B413 7.73%, #F18F34 36.22%, #6522BC 93.54%, #5616CA 100%);
  width: 100%;
  height: 100vh;

  transition: all 0.3s;

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 50px;
  }

  &__link {
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    color: #040603;
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 500;
    padding: 0 35px;
    margin-bottom: 20px;
    transition: text-decoration 0.3;

    &:hover {
      text-decoration: underline;
    }


  }
}