@import './utils/fonts';
@import './utils/mixins';

.program {
  &__blocks {
    margin-bottom: 50px;

    @include onPhone {
      margin-bottom: 30px;
    }
  }
  &__block-title {
    display: flex;
    justify-content: space-between;
    color: #040603;
    margin-bottom: 55px;
    text-transform: uppercase;

    @include onPhone {
      margin-bottom: 10px;
    }
  }

  &__block-timeline {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
  }

  &__block-item {
    display: flex;
    gap: 55px;
    border-bottom: 1px solid #040603;
    padding-bottom: 10px;
    margin-bottom: 28px;

    &:last-child {
      border-bottom: none;
      margin-bottom: 40px;
    }

    @include onPhone {
      flex-direction: column;
      gap: 4px;
      border: none;
      padding-bottom: 0;
      margin-bottom: 20px;
    }
  }

  &__title {
    width: min-content;
    font-family: 'Montserrat-Regular';
    font-size: 57px;
    font-weight: 400;
    line-height: 74.1px;
    text-align: left;

    @include onPhone {
      width: 100%;
      font-size: 24px;
      font-weight: 400;
      line-height: 31.2px;
      color: #040603;
    }
    
  }

  &__data {
    font-family: 'Montserrat-Medium';
    font-size: 32px;
    font-weight: 500;
    line-height: 41.6px;
    text-align: left;

    @include onPhone {
      display: none;
    }

  }

  &__time {
    font-family: 'Montserrat-SemiBold';
    width: 175px;
    font-size: 23px;
    font-weight: 600;
    line-height: 29.9px;
    text-align: left;

    @include onPhone {
      font-family: 'Montserrat-Bold';
      font-size: 14px;
      font-weight: 700;
      line-height: 18.2px;
      text-align: left;

    }
  }

  &__description {
    font-family: 'Montserrat-Light';
    width: 100%;
    font-size: 23px;
    font-weight: 300;
    line-height: 29.9px;
    text-align: left;

    @include onPhone {
      font-size: 14px;
      line-height: 18.2px;
    }
  }

  &__block-action {
    position: absolute;
    bottom: 0;
    width: calc(100% - 28px);
    display: flex;
    background-color: #1E1E1E;
    padding: 47px 65px 55px 70px;
    z-index: 3;

    @include onPhone {
      width: calc(100% - 11px);
      padding: 18px 25px;
    }
  }

}

.bttn {
  display: flex;
  align-items: center;
  gap: 13px;
  transition: all 0.3s;

  &--icon {
    width: 18.79px;
    height: 11.17px;
    background-image: url(../icons/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include onPhone {
      width: 24.36px;
      height: 14.6px;

    }
  }
  &--primary {
    font-size: 20px;
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-weight: 800;
    line-height: 26px;
    text-align: left;

    color: #FCC107;

    @include onPhone {
      font-size: 16px;
      line-height: 20.8px;
    }
  }

  &:hover {
    color: #9747FF;

    .bttn--icon {
      background-image: url(../icons/arrow_hover.svg);
    }

  }

}